    .img-wrapper {
    position: relative;
    }

    .img-responsive {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 80%;
        height: auto;
    }

    .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    }

    .img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 85%;
    }
    .btn-secondary{
    background-color: #D8D8D8;
    color: #1E1E1E;
    border: none;
    }
    .navbar-color{
        background-color: #DEE4FF
    }