<!doctype html>

<html lang="en">
<head>
	 <!-- Required meta tags -->
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	 <!-- Bootstrap CSS -->
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
	<title>CodeBoard</title>
	<style type="text/css">
		body { font-family: Helvetica, sans-serif; }
		h2, h3 { margin-top:0; }
		form { margin-top: 15px; }
		form > input { margin-right: 15px; }
		#results { float:right; margin:20px; padding:20px; border:1px solid; background:#ccc; }
	</style>
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/static/cameraMin.js"></script>
	<script type="text/javascript" src="/static/handlers.js"></script>
</head>
<body>
	<div id="results">Your captured image will appear here...</div>

	<h1>CodeBoard</h1>
	<h3>Demonstrates setting up camera after a click.</h3>

	<div id="my_camera"></div>

	<form>
		<input type="button" value="Access Camera" onClick="setup(); $(this).hide().next().show();">
		<input type="button" value="Take Snapshot" onClick="take_snapshot(); $(this).hide().prev().show();" style="display:none">
	</form>

	<select name="languages" form="codeRunner">
		<option value="javascript">JavaScript</option>
		<option value="c">C</option>
		<option value="python" disabled>Python</option>
	</select>

	<form action="/output" method="post" id="codeRunner">
		<textarea name="codetorun" id="returnedText"></textarea>
		<input type="submit">
	</form>

    <img src="../images/landing-page.png" class="img" >
    <a href="./index.html" class="btn btn-secondary btn-md custom" role="button" aria-pressed="true">Start</a>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
