<!doctype html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
	<title>CodeBoard</title>
	<style type="text/css">
		body { font-family: Helvetica, sans-serif; }
		h2, h3 { margin-top:0; }
		form { margin-top: 15px; }
		form > input { margin-right: 15px; }
		#results { float:right; margin:20px; padding:20px; border:1px solid; background:#ccc; }
	</style>
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/static/cameraMin.js"></script>
	<script type="text/javascript" src="/static/handlers.js"></script>
</head>
<body>
	<div id="results">Your captured image will appear here...</div>
	
	<h1>CodeBoard</h1>
	<h3>Demonstrates setting up camera after a click.</h3>
	
	<div id="my_camera"></div>
	
	<form>
		<input type="button" value="Access Camera" onClick="setup(); $(this).hide().next().show();">
		<input type="button" value="Take Snapshot" onClick="take_snapshot(); $(this).hide().prev().show();" style="display:none">
	</form>

	<form>
		<select name="languages">
			<option value="javascript">Javascript</option>
			<option value="python" disabled>Python</option>
			<option value="c" disabled>C</option>
		</select>
	</form>

	<form action="/output" method="post">
		<select name="lang">
			<option value="4" >JavaScript</option>
			<option value="0" disabled>C</option>
			<option value="5" disabled>Python</option>
		</select>
		<textarea name="codetorun" id="returnedText"></textarea>
		<input type="submit">
	</form>

</body>
</html>
